@import "tailwindcss";
@plugin "daisyui/theme" {
  name: "decathlon";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  /* Base colors */
  --color-base-100: oklch(100% 0 0); /* white */
  --color-base-200: oklch(98% 0 0); /* light gray */
  --color-base-300: oklch(95% 0 0); /* slightly darker gray */
  --color-base-content: oklch(21% 0.006 285.885); /* default text */

  /* Brand colors */
  --color-primary: oklch(45% 0.24 277.023); /* Decathlon Blue */
  --color-primary-content: oklch(93% 0.034 272.788); /* Text on primary */
  --color-secondary: oklch(65% 0.241 354.308); /* Light blue accent */
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912); /* Yellow accent */
  --color-accent-content: oklch(38% 0.063 188.416);

  /* Neutral / backgrounds */
  --color-neutral: oklch(14% 0.005 285.823); /* dark neutral */
  --color-neutral-content: oklch(92% 0.004 286.32);

  /* Feedback colors */
  --color-info: oklch(74% 0.16 232.661); /* info blue */
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223); /* green success */
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429); /* warning orange */
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428); /* error red */
  --color-error-content: oklch(27% 0.105 12.094);

  /* Radii */
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* Sizes & borders */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
